{{ partial "header" . }}

<article lang='{{ .Params.lang | default .Lang }}' class='entry'>
  {{ partial "entry/header" . }}

  <div class='container'>
    {{ with .Resources.ByType "image" }}
      {{ $imageCount := len . }}
      {{ if eq $imageCount 1 }}
        {{/* Single photo: full width display */}}
        {{ range . }}
          {{ $image := .Fit "1200x1200" }}
          <div class='photo-container'>
            <img src='{{ $image.RelPermalink }}' alt='{{ $.Title }}' class='photo-main'>
            {{ with $.Params.caption }}
              <p class='photo-caption'>{{ . }}</p>
            {{ end }}
          </div>
        {{ end }}
      {{ else }}
        {{/* Multiple photos: adaptive grid layout */}}
        <div class='photo-grid' data-count='{{ $imageCount }}'>
          {{ range . }}
            {{ $image := .Fit "1200x1200" }}
            <div class='photo-grid-item'>
              <img src='{{ $image.RelPermalink }}' alt='{{ $.Title }}' class='photo-grid-img'>
            </div>
          {{ end }}
        </div>
        {{ with $.Params.caption }}
          <p class='photo-caption'>{{ . }}</p>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  {{ if .Content }}
    <div class='container entry-content'>
      {{ .Content }}
    </div>
  {{ end }}

  {{ partial "entry/footer" . }}
</article>

{{ partial "nav/entry_nav" . }}

{{ partial "footer" . }}
